GOOGLE_API_KEY=sua_chave_do_google
OPENAI_API_KEY=sk-sua_chave_da_openai_aqui
SENIOR_USER=email@tenant.com.br
SENIOR_PASS=password123
PINECONE_API_KEY=chave_pinecone
PINECONE_INDEX_NAME=nome-do-seu-index-aqui
ELEVENLABS_API_KEY=sua_chave_aqui